@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Welp That Sucks You Should Try That Again</h1>
    <h2 class="text-danger">@ViewData["Message"]</h2>
</div>