@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hi I'm Warren</p>
<div>
    
    <h4>The Objective</h4>
    <p>
        The objective of the assignment was to get create a ASP.NET Core MVC project with CRUD Functionalities.
        Well I did implement them and also added some Authentication, and Authorization to some endpoints.
        If you go look at Index when logged in and not logged in you will see you can not Create, Update, or delete a book.
    </p>
    <h4>The Problem</h4>
    <p>
        <strong>A week before the due date</strong>. Everything was mostly going well I needed to read a lot of the book if I wanted to 
        move forward in the assignment. I was a bit stressed doing this assignment because it pretty much chose what I'm capable of.
        I made a few mistake to say the least. I tried hosting the project with IIS well I spent 2 days troubleshooting and trying to figure out 
        what was missing or wrong but I could understand why. I then decided I'll just submit the assignment without deploying it 
        I would give proper instruction on how to build it and run it locally (NOT THROUGH IIS). 
    </p>
    <h4>The Solution</h4>
    <p>
        I need to be more honest with my self when I cannot figure something out and go ask question. I think if there is one thing I need 
        remember it is probably that. Starting next week I'll probably re-start this assignment and go through all of the 
        content again. Because I do not feel what I submited does justice to what we where suposed to learn.
    </p>
    <p>I Submitted this assignment like this so like that I can take a small break and restart from fresh.
    </p>
</div>

